/* Here is your custom css styles. */
.bg-cover:after {
    background:rgba(0,0,0,0.4);
}

body.DarkMode{
    background-color:#A18686;
}

p.hideblack{
    transition:color 0.13s linear;
    color:#000;
    background:#000;
}

p.hideblack:hover{
    color:#fff;
}
/*
header .nav-transparent {
    background-image: linear-gradient(to right, #53535e 0%, #191e23 100%);
}
*/

#icp{
    margin-bottom:5px;
}

